.banner {
  width: 100%;
  height: 393px;
  background-image: url('../../assets/banner.png');
  color: #fff;
  padding: 114px;
 }
.thumbnail {
  padding: 0px;
}
.thumbnail a>img, .thumbnail>img {
  width: 100%;
}
.card .thumbnail{
  height: 430px;
}
