<div class="banner">
  <h1>SISTEMAS PARA INTERNET</h1>
  <h3>Neste curso, você vai trabalhar com Front-end (HTML5, CSS3, entre outros)
  com foco em UX, Desenvolvimento Mobile (Android, IOS e HTML5), Gestão de Negócios, Tratamento de Imagens e
  Gerenciamento de Plataformas Digitais. Vai ser estimulado a empreender e criar sua própria Startup,
  por meio da vivência e do estudo de casos reais.</h3>
</div>
<section class="cards">
  <br>
  <div class="row">
    <div class="card col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="../assets/destaque_01.png" alt="...">
        <div class="caption text-center">
          <h3>HTML5</h3>
          <p>Aplicação de Padrões Web, XHTML5 (padrão W3C), CSS, Javascript e sistemas Web centrados em User Experience.</p>
        </div>
      </div>
    </div>
    <div class="card col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="../assets/destaque_02.png" alt="...">
        <div class="caption text-center">
          <h3>Desenvolvimento Mobile</h3>
          <p>Desenvolvimento de apps para dispositivos móveis Apple utilizando storyboard, UIKit, MVC, protocolos, requisições HTTP, JSON, persistência e mapas nas linguagens Obj-C e Swift.</p>
        </div>
      </div>
    </div>
    <div class="card col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="../assets/destaque_03.png" alt="...">
        <div class="caption text-center">
          <h3>Gestão de Negócios</h3>
          <p>Você será imerso no ecosistema dos e-commerce´s, através do desenvolvimento do plano de negócios para startups, relacionamento com os clientes virtuais, identificação de público alvo e estratégias de negócio.</p>
        </div>
      </div>
    </div>
    <div class="card col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="../assets/destaque_04.png" alt="...">
        <div class="caption text-center">
          <h3>Sua própria Startup</h3>
          <p>VO Start-Up Brasil, Programa Nacional de Aceleração de Startups, é uma iniciativa do governo federal, criado pelo Ministério da Ciência, Tecnologia, Inovações e Comunicações (MCTIC)</p>
        </div>
      </div>
    </div>
  </div>
</section>
